.category
  margin-bottom: 50px

  &__header
    margin-bottom: 50px

  &__title
    font-family: $font-title
    font-size: 50px

    @media only screen and (max-width: 1680px)
      font-size: 40px

    @media only screen and (max-width: 1199px)
      font-size: 30px


  &__list
    box-sizing: border-box
    list-style: none
    display: flex
    margin-bottom: 5px
    overflow-x: auto

    & > li
      display: block
      width: auto

      &:not(:last-child)
        margin-right: 10px

      & > a
        white-space: nowrap
        display: block
        color: inherit
        padding: 10px 0

