div(class="allgoods__wrapper")

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/01.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 25 000
        a(class="btn btn__tocart") В корзину
    div(class="allgoods__badge new") Новинка

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/02.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 125 000
        a(class="btn btn__tocart") В корзину
    div(class="allgoods__badge exclusive") Эксклюзив

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/03.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 25 000
        a(class="btn btn__tocart") В корзину
    div(class="allgoods__badge hot") Хит

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/04.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 25 000
        a(class="btn btn__tocart") В корзину

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/05.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 25 000
        a(class="btn btn__tocart") В корзину

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/01.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 25 000
        a(class="btn btn__tocart") В корзину

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/02.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 25 000
        a(class="btn btn__tocart") В корзину

  article(class="allgoods")
    a(class="allgoods__picture" href="#0")
      img(src="./img/allgoods/03.webp" width="320" height="200" loading="lazy")

    div(class="allgoods__hidden")
    div(class="allgoods__content")
      header(class="allgoods__header")
        h3(class="allgoods__title")
          a(href="#0") Сухофрукты №2342
        p(class="allgoods__size")
          span Д/Ш/В:
          |  25/15/13
        p(class="allgoods__description") тарань - 5 шт., кольца кальмара, соломка рыбная с перцем, янтарная рыбка, желтый полосатик, колбаса сырокопченая, колбаски "Пивчики", колбаски "Пиколини", колбаски "Kabanos", охотничьи колбаски, перец "Чили", зелень, элементы декора
      footer(class="allgoods__footer")
        div(class="allgoods__price") 25 000
        a(class="btn btn__tocart") В корзину
    div(class="allgoods__badge hot") Новинка

div(class="allgoods__button")
  a(class="btn btn__outline") Все товары
