ul(class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList")
  li(class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
    a(class="breadcrumbs__link" href="#0" itemprop="item")
      span(itemprop="name") Главная
      meta(itemprop="position" content="1")
      meta(itemprop="url" content="#0")
  li(class="breadcrumbs__separator") /
  li(class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
    a(class="breadcrumbs__link" href="#0" itemprop="item")
      span(itemprop="name") Мужские букеты
      meta(itemprop="position" content="1")
      meta(itemprop="url" content="#0")
  li(class="breadcrumbs__separator") /
  li(class="breadcrumbs__current") Букеты из колбасы
