div(class="maingoods__row")
  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/01.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 23 февраля

  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/02.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 Мужские букеты

  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/03.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 Съедобные

  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/01.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 Фруктовые букеты

  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/02.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 Клубника

  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/03.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 Фруктовые

  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/01.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 Подарочные корзины

  a(class="maingoods" href="#0")
    div(class="maingoods__picture")
      img(class="maingoods__image" src="./img/maingoods/02.webp" width="300" height="200" loading="lazy")
    div(class="maingoods__title")
      h2 Праздник
