div(class="maingoods__row")
  a(class="maingoods__simple" href="#0") 23 февраля
  a(class="maingoods__simple" href="#0") Мужские букеты
  a(class="maingoods__simple" href="#0") Съедобные
  a(class="maingoods__simple" href="#0") Фруктовые букеты
  a(class="maingoods__simple" href="#0") Клубника
  a(class="maingoods__simple" href="#0") Фруктовые
  a(class="maingoods__simple" href="#0") Подарочные корзины
  a(class="maingoods__simple" href="#0") Праздник
