div(class="product__images")
  div(class="product__slider")
    div(class="swiper product__slider__main")
      ul(class="swiper-wrapper")
        li(class="swiper-slide")
          img(src="./img/productslider/01.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/02.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/03.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/04.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/05.webp" width="320" height="200" loading="lazy")
      div(class="product__slider__right")
      div(class="product__slider__left")


    div(class="swiper product__slider__nav")
      ul(class="swiper-wrapper")
        li(class="swiper-slide")
          img(src="./img/productslider/01.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/02.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/03.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/04.webp" width="320" height="200" loading="lazy")
        li(class="swiper-slide")
          img(src="./img/productslider/05.webp" width="320" height="200" loading="lazy")


