nav(class="sidenav")
  ul(id="mobile_menu" class="sidenav_menu")
    li(class="menu-item-has-children")
      a(href="#0") Мужские букеты
      ul(class="sub-menu")
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5

        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li(class="menu-item-has-children")
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5



    li
      a(href="#0") Съедобные

    li(class="menu-item-has-children")
      a(href="#0") Фруктовые букеты
      ul(class="sub-menu")
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5

        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5


    li
      a(href="#0") Клубника

    li(class="menu-item-has-children")
      a(href="#0") Фруктовые
      ul(class="sub-menu")
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5

        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li(class="menu-item-has-children")
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5
        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5

        li(class="menu-item-has-children")
          a(class="nolink" href="#0") Заголовок категории
          ul(class="sub-menu")
            li
              a(href="#0") Пункт меню 1
            li
              a(href="#0") Пункт меню 2
            li
              a(href="#0") Пункт меню 3
            li
              a(href="#0") Пункт меню 4
            li
              a(href="#0") Пункт меню 5


    li
      a(href="#0") Подарочные корзины
    li
      a(href="#0") Боксы
    li
      a(href="#0") Праздник

