div(class="swiper slidernews")
  ul(class="swiper-wrapper")
    li(class="swiper-slide")
      div(class="slidernews__picture")
        img(src="./img/slidernews/01.webp" width="320" height="200" loading="lazy")
      div(class="slidernews__wrapper")
        article(class="slidernews__text")
          h2 Заголовок акции новости
          p Краткое описание новости
          a(class="btn btn__gold" href="#0") Подробнее
    li(class="swiper-slide")
      div(class="slidernews__picture")
        img(src="./img/slidernews/02.webp" width="320" height="200" loading="lazy")
      div(class="slidernews__wrapper")
        article(class="slidernews__text")
          h2 Lorem Ipsum
          p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
          a(class="btn btn__gold" href="#0") Подробнее
    li(class="swiper-slide")
      div(class="slidernews__picture")
        img(src="./img/slidernews/03.webp" width="320" height="200" loading="lazy")
      div(class="slidernews__wrapper")
        article(class="slidernews__text")
          h2 Очень длинный заголовок, состоящий из семи слов
          p Многие известные личности обнародованы. Как уже неоднократно упомянуто, активно развивающиеся страны третьего мира будут своевременно верифицированы.
          a(class="btn btn__gold" href="#0") Подробнее
  div(class="slidernews__right")
  div(class="slidernews__left")
  div(class="slidernews__pagination")
