doctype html
html(lang="ru")
  include ../common/head
  body
    include ../components/navbar
    include ../components/sidenav
    div(class="wrapper")
      header(class="header")
        div(class="container")
          include ../components/header/header-top
          include ../components/header/header-navigation
          include ../components/bradcrumbs

      div(class="wrapper__content")
        div(class="container")
          main(class="actions")
            h1(class="actions__title") Специальные предложения

            div(class="actions__grid")
              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Очень сильно длинный заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Очень сильно длинный заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости

              a(class="actions__card" href="#0")
                img(src="./img/allgoods/01.webp" width="" height="" loading="lazy")
                div(class="actions__card__title")
                  h2 Заголовок новости





        include ../components/photoslider
        include ../components/hotproduct
        include ../components/cheap-product

      include ../components/special



      include ../components/footer
    include ../components/scrolltop
    include ../components/popup

    script(src="./js/main.js" async)

