doctype html
html(lang="ru")
  include ../common/head
  body
    include ../components/navbar
    include ../components/sidenav
    div(class="wrapper")
      header(class="header")
        div(class="container")
          include ../components/header/header-top
          include ../components/header/header-navigation

      div(class="wrapper__content")
        div(class="container")
          h1(class="error__title") Товар не существует или перемещен
          p(class="error__description") Воспользуйтесь навигационным меню или строкой поиска

      include ../components/special



      include ../components/footer
    include ../components/scrolltop
    include ../components/popup

    script(src="./js/main.js" async)

